<h2>Person form</h2>
<div id="teste">
{{#form-for model}}
  {{input-for "firstName"}}
  {{input-for "lastName"}}
  {{input-for "city" as="select" collection=cities}}
  {{input-for "controller.welcomeMessage"
          class="welcomeMessage"
          label="Message"
          hint="Property defined in the controller."}}
  <input type="submit">
{{/form-for}}

<p class="bound-values">
  First name: <span class="first-name">{{model.firstName}}</span><br>
  Last name: <span class="last-name">{{model.lastName}}</span><br>
  City: <span class="city">{{model.city}}</span><br>
  Welcome message: <span class="welcome-message">{{welcomeMessage}}</span>
</p>

{{#if submitted}}
  <p class="form-submitted">Submitted!!</p>
{{/if}}
</div>